{% extends 'base.htm' %}

{% load static %}
<!-- block header -->
{% block header %}
<link rel="stylesheet" href="{% static 'css/add_post.css' %}?{% now 'U' %}">
{% endblock%}

<!-- block content -->
{% block contents %}
<div class="container">
    <h1> Create a Post </h1>
    <form method="post" id="post_form">
        {% csrf_token %} 
        {{ form }}
        <input class="btn btn-primary" type="submit" value="post" id="post">
    </form>

</div>
<script src="{% static 'js/add_post.js' %}?{% now 'U' %}"></script>
{% endblock %}