{% extends 'base.htm' %}

{%  load static %}


{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
{% endblock %}

{% block contents %}
<script src="https://unpkg.com/vue@3"></script>

<main>
    <aside id="lside">
        <div id="eclub_logo">
            <p > E-club</p>
        </div>
        <div id="menu">
            <h3> Account </h3>
            <ul>
                <li> Home </li>
                <li> Profile </li>
                <li> Messages </li>
                <li> Settings </li>
            </ul>

            <h3> Clubs </h3>
            <ul>
                <li> Club Informatique </li>
                <li> Enactus </li>
                <li> Club SEECS </li>
                <li> Crisis </li>
            </ul>
        </div>
    </aside>

    <section>

        <div id="app">
            <post v-for="p in posts" :title="p.title" :content="p.content" />
        </div>
        
    </section>

    <aside id="rside">
        <a href="/login" class="btn btn_primary"> login </a>
        <a href="/logout" class="btn btn_primary"> logout </a>
    </aside>
</main>
<script src="{% static 'js/home.js' %}?{% now 'U'%}"></script>

{% endblock %}