{% extends 'base.htm' %}

{% load static %}

{% block header %}

{% endblock %}

{% block contents %}
<div class="container">
        
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">E-CLUB</a>
            </div>

            <ul class="navbar-nav d-flex">
                {% if user %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{ user }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout/">
                        Log Out
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login/">
                        Log In
                    </a>
                </li>
                {% endif %}
            </ul>



        </div>

    </nav>
  
  
</div>
{% endblock %}