{% extends 'base.htm' %}

{%  load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?{% now 'U' %}">
{% endblock %}

{% block contents %}
<script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
<script src="{% static 'js/cookies.js' %}?{% now 'U' %}" ></script>

<div id="app">
    <h1> RESET PASSWORD </h1>
    <form id="login_form">
      <input type="text" name="password" v-model="password" class="form-control" placeholder="password"/>
      <input type="text" name="rpassword" v-model="rpassword" class="form-control" placeholder="password"/>
      <input type="submit" value="send" class="btn btn-primary" @click="send" />
    </form>  
</div>

<script>
    const app = Vue.createApp({
        data(){
            return {
                password: '',
                rpassword: ''
            }
        },
        methods: {
            send(event){
                event.preventDefault();
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: `password=${this.password}&rpassword=${this.rpassword}`,
                    success(result){
                        alert(result.message)
                    }
                })
            }
        }
    })
    app.mount('#app');
</script>
{% endblock %}